{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% block title %}
    {{ name }}
{% endblock %}
{% block style %}

{% endblock %}
{% block content %}
    <div class="container-fluid mt-2" style="width: 100%;">
        <div class="">
            <table id="tableInventaire"
                   class="table table-striped table-sm table-hover table-bordered row-border select-row order-column nowrap"
                   style="width:100%">
                <thead class="table-dark">
                <tr>
                    <th rowspan="2" class="text-white bg-dark" style="vertical-align: middle;">#</th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #e1cfa2;vertical-align: middle;">Catégorie
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #e1cfa2;vertical-align: middle;">Intitulé
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Stock Init Syst<code>*</code>
                    </th>
                    <th colspan="7" class="text-center text-white"
                        style="background-color: #4472C4;vertical-align: middle;">Entrée
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Total Entrée
                    </th>
                    <th colspan="6" class="text-center text-white"
                        style="background-color: #FFC000;vertical-align: middle;">Sortie
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Total Sortie
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #A5A5A5;vertical-align: middle;">Stock Final Calc
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #44bdc6;vertical-align: middle;">Stock Final Syst<code>*</code></th>
                </tr>
                <tr>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Retour<code>*</code>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Réception<code>*</code></th>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Production OF<code>*</code></th>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Assemblage</th>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Transfert<code>*</code></th>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Mvt Entrée<code>*</code>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Mvt Entrée Inventaire<code>*</code>
                    </th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Vente<code>*</code></th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Consommation OF<code>*</code></th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Désassemblage</th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Transfert<code>*</code></th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Mvt Sortie<code>*</code>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Mvt Sortie Inventaire<code>*</code>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom text-white" style="background-color: #A5A5A5;"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                </tr>
                </tfoot>
            </table>
        </div>
        {% include 'layout/details-modal.html' %}
        {% include 'layout/societe-modal.html' %}
    </div>
{% endblock %}
{% block script %}
    <script>
        function isNumber(chaine) {
            const regexNumber = /^-?\d{1,3}([ ,]\d{3})*([.,]\d+)?$/;
            return regexNumber.test(chaine);
        }

        function formatNumberToFr(chaine) {
            try {
                let chaineWithoutSpace = chaine.toString().replace(/(&nbsp;|\s)/g, '');
                chaineWithoutSpace = chaineWithoutSpace.replace('%', '');
                let chaineWithPointDecimal;
                if (isNumber(chaine.toString()) && chaineWithoutSpace !== '0,00') {
                    chaineWithPointDecimal = chaineWithoutSpace.replace(/,/g, '.');
                } else {
                    chaineWithPointDecimal = chaineWithoutSpace.replace(/,/g, '.');

                }

                let numberFloat = parseFloat(chaineWithPointDecimal).toFixed(2);
                return parseFloat(isNaN(numberFloat) ? 0 : numberFloat);
            } catch (e) {
                console.log(`Error : ${e}`);
                return 0;
            }
        }

        $.fn.dataTable.ext.errMode = 'throw';

        document.addEventListener('DOMContentLoaded', function () {
            let dataTable = new DataTable('#tableInventaire', {
                paging: false,
                info: false,
                scrollCollapse: true,
                scrollX: true,
                scrollY: '60vh',
                fixedColumns: {
                    start: 4,
                    end: 3
                },
            })

            let exportFormatter = {
                format: {
                    body: function (data, row, column, node) {
                        // Strip $ from salary column to make it numeric
                        return column === 5 ? data.replace(/[$,]/g, '') : data;
                    }
                }
            };

            function getdata(datas) {
                $('#tableInventaire').DataTable().destroy();
                dataTable = new DataTable('#tableInventaire', {
                    ajax: {
                        url: '{% url 'app:get_inventory_ajax' %}',
                        dataSrc: 'data',
                        type: 'POST',
                        dataType: 'json',
                        data: datas
                    },
                    deferRender: true,
                    processing: true,
                    paging: false,
                    info: false,
                    scrollCollapse: true,
                    scrollX: true,
                    scrollY: '60vh',
                    language: {
                        search: '',
                        decimal: ',',
                        thousands: ' '
                    },
                    layout: {
                        topStart: {
                            buttons: [
                                {
                                    text: '<i class="fas fa-building"></i>',
                                    className: 'bg-warning text-white',
                                    attr: {
                                        type: 'button',
                                        'aria-controls': 'societeModal',
                                        'data-bs-toggle': 'modal',
                                        'data-bs-target': '#societeModal',
                                    }
                                },
                                {
                                    extend: 'excelHtml5',
                                    text: '<i class="fas fa-file-excel"></i>',
                                    className: 'bg-danger text-white'
                                },
                                {
                                    extend: 'pdfHtml5',
                                    text: '<i class="fas fa-print"></i>',
                                    className: 'bg-success text-white'
                                },
                                {
                                    text: 'Select'
                                }
                            ]
                        },
                        topEnd: [{
                            search: {
                                placeholder: 'Chercher Ici',
                            }
                        }]
                    },
                    columnDefs: [
                        {targets: [0], orderable: false},
                        {targets: [3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20], className: 'text-right'},
                        {targets: [3, 4, 5, 6, 8, 9, 10, 12, 13, 15, 16, 17, 20], className: "cursor-pointer"},
                        {
                            targets: [],
                            render: DataTable.render.datetime()
                        },
                        {
                            target: [3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20],
                            render: function (data, type, cell) {
                                if (data !== '') {
                                    return parseFloat(data).toLocaleString('fr-FR', {
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    });
                                }
                                return data
                            }
                        },

                    ],
                    order: [[1, 'asc']],
                    fixedColumns: {
                        start: 4,
                        end: 3
                    },
                    select: true,
                    stateSave: true,
                    createdRow: function (row, data, dataIndex) {
                        $('td', row).eq(0).html(dataIndex + 1);
                    },
                    columns: [
                        {data: null, width: '5%'},
                        {data: 'CATEGORY'},
                        {data: 'INTITULE'},
                        {data: 'STK_INTIALE'},
                        {data: 'EN_RETOUR'},
                        {data: 'EN_RECEP'},
                        {data: 'EN_PROD'},
                        {data: 'EN_ASSEMB'},
                        {data: 'EN_TRANS'},
                        {data: 'EN_MVM'},
                        {data: 'EN_INV'},
                        {
                            data: 'TOTAL_EN'
                        },
                        {data: 'SO_VENTE'},
                        {data: 'SO_CONSO'},
                        {data: 'SO_DESAS'},
                        {data: 'SO_TRANS'},
                        {data: 'SO_MVM'},
                        {data: 'SO_INV'},
                        {
                            data: 'TOTAL_SO'
                        },
                        {
                            data: 'STK_FINAL_CAL'
                        },
                        {data: 'STK_FINAL_SYS'}
                    ],
                    initComplete: function (settings, json) {
                        let api = this.api();
                        let numColumns = api.columns().nodes().length;
                        for (let i = 3; i < numColumns; i++) {
                            let values;
                            try {
                                let total_sum = api.column(i, {page: 'current'}).data().reduce(function (a, b) {
                                    return formatNumberToFr(a) + formatNumberToFr(b);
                                }, formatNumberToFr(0));
                                try {
                                    values = parseFloat(total_sum).toLocaleString('fr-FR');

                                } catch (e) {
                                    values = formatNumberToFr(0)
                                }
                            } catch (e) {
                                let footerElement = api.column(i).footer();
                                values = footerElement ? footerElement.innerHTML : formatNumberToFr(0);
                            }
                            $(api.column(i).footer()).html(values);

                        }
                    }
                })
                $(dataTable.table().container()).on('click', 'td', function () {
                    let cell = dataTable.cell(this);
                    let info_row = JSON.stringify(cell.index())

                    let parsedInfoRow = JSON.parse(info_row);
                    {#let row = parsedInfoRow.row;#}
                    {#let column = parsedInfoRow.column;#}

                    let {row, column, columnVisible} = dataTable.cell(this).index();
                    // Access the header cell content at the clicked column index
                    let tableHeaderCell = dataTable.column(column).header();
                    let tableHeaderContent = $(tableHeaderCell).text();
                    console.log("Clicked cell:", cell.data());
                    console.log("Header title:", tableHeaderContent);
                    let data_cell = cell.data()
                    if (data_cell === '' || data_cell === null) {
                        data_cell = 0
                    }
                    {#console.log(`parsedInfoRow: ${parsedInfoRow}, row: ${row}, col: ${column}`)#}
                    if (![0, 1, 2, 7, 11, 14, 18, 19].includes(column)) {
                        let rowData = dataTable
                            .rows(row)
                            .data()
                            .toArray();

                        let data_row = JSON.stringify(rowData)
                        let modalHtml = `
                            <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Détail de la valeur selectionner</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table id="modalTable" class="display nowrap" style="width:100%">

                                                <thead>
                                                    <tr>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                </thead>
                                                <tfoot class="text-center">
                                                    <tr>
                                                        <th class="text-right">Total :</th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right font-weight-bold"></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                        $('body').append(modalHtml);

                        let detailsModal = $('#detailsModal');

                        detailsModal.on('shown.bs.modal', function () {
                            $('#modalTable').DataTable().destroy();
                            const depotSelect = document.getElementById('filtersSelect').value;
                            new DataTable('#modalTable', {
                                ajax: {
                                    url: '{% url 'app:cell_details_view' %}',
                                    type: 'POST',
                                    data: {
                                        info_table: JSON.stringify({
                                            'societe': '{{ societe }}',
                                            'begin': '{{ begin }}',
                                            'end': '{{ end }}',
                                            'depot': depotSelect
                                        }),
                                        data_row: data_row,
                                        data_cell: JSON.stringify({
                                            'row': parseInt(row),
                                            'col': parseInt(column)
                                        })
                                    }
                                },
                                info: false,
                                scrollCollapse: true,
                                scrollX: false,
                                paging: false,
                                fixedColumns: {
                                    start: 2,
                                    end: 3
                                },
                                scrollY: '50vh',
                                layout: {
                                    topStart: {
                                        buttons: [
                                            {
                                                extend: 'searchBuilder',
                                                config: {
                                                    depthLimit: 2
                                                }
                                            },
                                            'excel',
                                            'pdf',
                                            'print',

                                        ]
                                    }
                                },
                                searching: true,
                                deferRender: true,
                                processing: true,
                                serverSide: true,
                                colReorder: true,
                                createdRow: function (row, data, dataIndex) {
                                    $('td', row).eq(0).html(dataIndex + 1);
                                },
                                columnDefs: [
                                    {targets: [0, 5, 6, 7], className: 'text-right'},
                                    {
                                        targets: [2],
                                        render: DataTable.render.date()
                                    },
                                    {
                                        target: [5, 6, 7],
                                        render: function (data, type, cell) {
                                            return parseFloat(data).toLocaleString('fr-FR', {
                                                minimumFractionDigits: 2,
                                                maximumFractionDigits: 2
                                            });
                                        }
                                    },
                                ],
                                initComplete: function (settings, json) {
                                    let api = this.api();
                                    let numColumns = api.columns().nodes().length;

                                    for (let i = 5; i < numColumns; i++) {
                                        let total = api
                                            .column(i)
                                            .data()
                                            .reduce((a, b) => formatNumberToFr(a) + formatNumberToFr(b), 0);
                                        total = formatNumberToFr(total).toLocaleString('fr-FR', {
                                            minimumFractionDigits: 2,
                                            maximumFractionDigits: 2
                                        });
                                        if (i === numColumns - 1) {
                                            let classStyle;
                                            let iconClass;

                                            data_cell = formatNumberToFr(data_cell).toLocaleString('fr-FR', {
                                                minimumFractionDigits: 2,
                                                maximumFractionDigits: 2
                                            });
                                            if (total !== data_cell) {
                                                classStyle = "text-danger";
                                                iconClass = "fa-exclamation-circle"; // Icône warning
                                            } else {
                                                classStyle = "text-success";
                                                iconClass = "fa-check-circle"; // Icône valide
                                            }


                                            total = `${total}(<span class="fas ${classStyle}" title="${data_cell}"><i class="fas ${iconClass}"></i></span>)`;
                                        }
                                        api.column(i)
                                            .footer()
                                            .innerHTML = total;
                                    }
                                },
                                columns: [
                                    {title: '#', data: null, width: '5%'},
                                    {title: 'N° PIECE', data: 'PIECE'},
                                    {title: 'DATE', data: 'DATE'},
                                    {title: 'REFERENCE', data: 'REF'},
                                    {title: 'DESIGNATION', data: 'DESIGNATION'},
                                    {title: 'QTE', data: 'QTE'},
                                    {title: 'CMUP', data: 'CMUP', width: '50%'},
                                    {title: 'TOTAL', data: 'TOTAL', width: '50%'}
                                ],

                            })

                        })
                        detailsModal.modal('show');
                    }
                })
            }

            const submitButton = document.getElementById('submitButtonDepot');
            submitButton.addEventListener('click', function (event) {
                event.preventDefault();

                const selectedDepots = Array.from(document.getElementById('filtersSelect').selectedOptions).map(option => option.value);
                let data = {
                    uid: '{{ uid }}', filters: `${selectedDepots}`, begin: '{{ begin }}', end: '{{ end }}'
                }
                getdata(data)

            });
        });
    </script>
{% endblock %}