{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% block title %}
    {{ name }}
{% endblock %}
{% block style %}

{% endblock %}
{% block content %}
    <div class="container-fluid mt-2" style="width: 100%;">
        <div class="">
            <table id="tableInventaire"
                   class="table table-striped table-sm table-hover table-bordered row-border select-row order-column nowrap"
                   style="width:100%">
                <thead class="table-dark">
                <tr>
                    <th rowspan="2" class="text-white bg-dark" style="vertical-align: middle;">#</th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Catégorie
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Intitulé
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Stock Initial
                        Système<code>*</code>
                    </th>
                    <th colspan="7" class="text-center text-white"
                        style="background-color: #4472C4;vertical-align: middle;">Entrée
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Total Entrée
                    </th>
                    <th colspan="6" class="text-center text-white"
                        style="background-color: #FFC000;vertical-align: middle;">Sortie
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Total Sortie
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #A5A5A5;vertical-align: middle;">Stock Final Calculé
                    </th>
                    <th rowspan="2" class="text-center text-white"
                        style="background-color: #00B050;vertical-align: middle;">Stock Final
                        Système<code>*</code>
                    </th>
                </tr>
                <tr>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Retour<code>*</code>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Réception<code>*</code>
                    </th>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Production
                        OF<code>*</code></th>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Assemblage</th>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Transfert<code>*</code>
                    </th>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Mvt Entrée<code>*</code>
                    <th style="background-color: #B4C6E7;vertical-align: middle;">Mvt Entrée
                        Inventaire<code>*</code>
                    </th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Vente<code>*</code></th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Consommation
                        OF<code>*</code></th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Désassemblage</th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Transfert<code>*</code>
                    </th>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Mvt Sortie<code>*</code>
                    <th style="background-color: #F8CBAD;vertical-align: middle;">Mvt Sortie
                        Inventaire<code>*</code>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                    <th class="text-right-custom text-white" style="background-color: #A5A5A5;"></th>
                    <th class="text-right-custom text-white" style="background-color: #00B050;"></th>
                </tr>
                </tfoot>
            </table>
        </div>
        {% include 'layout/details-modal.html' %}
        {% include 'layout/societe-modal.html' %}
    </div>

{% endblock %}
{% block script %}
    <script>
        let toolbar = document.createElement('div');
        toolbar.innerHTML = `
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-auto">
                        <div class="input-group">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#societeModal"
                                    class="btn btn-outline-primary  {% if not user.is_staff %}disabled{% endif %}">
                                <i class="fa fa-building"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="input-group">
                            <label for="{{ form.societe.id_for_label }}"
                                   class="input-group-text">Société</label>
                            {{ form.societe }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                        <label for="{{ form.filtre.id_for_label }}"
                                   class="input-group-text">Dépôts</label>
                            {{ form.filtre }}
                        </div>
                    </div>
                    {% if user.is_staff %}
                        <div class="col-auto">
                            <div class="input-group">
                                <button type="button" onclick="reloadPage()"
                                        class="btn btn-outline-warning">
                                    <i class="fa fa-sync-alt"></i>
                                </button>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-auto">
                        <div class="input-group">
                            <label for="{{ form.debut.id_for_label }}"
                                   class="input-group-text">Début</label>
                            {{ form.debut }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <label for="{{ form.fin.id_for_label }}" class="input-group-text">Fin</label>
                            {{ form.fin }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-success"><i
                                class="fas fa-search"></i>
                        </button>
                        <button type="reset" class="btn btn-outline-danger"><i
                                class="fas fa-backspace"></i>
                        </button>
                    </div>
                </div>
            </form>
        `;
        new DataTable('#tableInventaire', {
            paging: false,
            info: false,
            scrollCollapse: true,
            scrollX: true,
            scrollY: '60vh',
            layout: {
                topStart: [toolbar],
                topEnd: {
                    search: {
                        placeholder: 'Chercher Ici'
                    }
                }
            },
            columnDefs: [
                {targets: 0, orderable: false}
            ],
            order: [[1, 'asc']],
            fixedColumns: {
                start: 4,
                end: 3
            },
        })
    </script>
{% endblock %}