<!-- Modal -->
<div class="modal fade" id="cellDetailsModal" tabindex="-1" role="dialog" aria-labelledby="cellDetailsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cellDetailsModalLabel">Les Sous Familles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="data-table-container">
                        <table id="responseTable" class="table table-striped table-hover table-bordered row-border select-row order-column nowrap fixed-header-table">
                            <thead>
                            <tr>
                                <th style="white-space: nowrap; overflow: hidden;">N° Piece</th>
                                <th style="white-space: nowrap; overflow: hidden;">Date</th>
                                <th style="white-space: nowrap; overflow: hidden;">Reference</th>
                                <th style="white-space: nowrap; overflow: hidden;">Designation</th>
                                <th style="white-space: nowrap; overflow: hidden;">Quantité</th>
                                <th style="white-space: nowrap; overflow: hidden;">Prix Unitaire</th>
                                <th style="white-space: nowrap; overflow: hidden;">Prix Total</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th style="text-align:right">Totaux :</th>
                                <th colspan="6" ></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>